/*
 * CSS that is injected
 * for darkmode
 * author: Nils Wenzel
 * last update: 2021-12-20
 */

/* colors */
:root {
  --main-bg-color: #181818;
  --second-bg-color: #282828;
  --main-font-color: #ccc;
  --second-darker-font-color: #a3a3a3;
  --second-darkest-font-color: #858585;
  --main-hover-font-color: #fff;
  --main-hover-bg-color: #787878;
  --second-hover-bg-color: #5a5a5a;
  --main-active-bg-color: #575757;
  --teal-font-color: #009991;
  --teal-hover-font-color: #00afa6;
  --red-font-color: #F05252;
  --orange-font-color: #e9c912;
  --blue-font-color: #0978bd;
  --green-font-color: #0e9f6f;
  --blue-link-font-color: #758eff;
  --blue-link-hover-font-color: #a0b1fa;
  --main-transparent-bg-color: #18181800;
}




/* 
 * sidebar 
 */
.bg-cool-gray-700 {
  background-color: var(--second-bg-color) !important;
}
.bg-cool-gray-700 .nuxt-link-exact-active[data-v-db23cbb4] {
  background-color: var(--main-active-bg-color) !important;
}
.bg-cool-gray-700 .nuxt-link-exact-active[data-v-355acd2e] {
  background-color: var(--main-active-bg-color) !important;
}
.hover\:bg-cool-gray-600:hover {
  background-color: var(--main-hover-bg-color) !important;
}
.hover\:bg-cool-gray-800:hover {
  background-color: var(--main-hover-bg-color) !important;
}
strong {
  color: var(--main-font-color) !important;
}
.bg-teal-50 {
  background-color: var(--main-bg-color) !important;
}


/* 
 * searchbar 
 */
.text-cool-gray-900 {
  color: var(--second-darker-font-color) !important;
}
.hover\:bg-gray-100:hover {
  background-color: var(--second-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
.text-cool-gray-900::placeholder {
  color: var(--second-darker-font-color) !important;
}
.text-cool-gray-900:focus::placeholder {
  color: var(--main-font-color) !important;
}
.text-cool-gray-400 {
  color: var(--second-darker-font-color) !important;
}
.focus-within\:text-cool-gray-600:focus-within {
  color: var(--main-font-color) !important;
}


/* 
 * profile settings/picture 
 */
.lg\:hover\:bg-gray-50:hover {
  background-color: var(--second-hover-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
.bg-gray-200 {
  background-color: var(--second-bg-color) !important;
}



/* 
 * dashboard
 * https://app.parqet.com/p/*
 */
.bg-white {
  background-color: var(--main-bg-color) !important;
}
.table[data-v-40ce71be] {
  background-color: var(--main-bg-color) !important;
}
.tag:not(body) {
  color: var(--main-font-color) !important;
  background-color: var(--second-bg-color) !important;
}
table th {
  color: var(--second-darkest-font-color) !important;
}
td[data-v-6697cac3]:nth-child(2) {
  color: var(--second-darker-font-color) !important;
}
th[data-v-6697cac3] {
  background-color: var(--main-bg-color) !important;
}
li[data-v-5193e064]:hover {
  background-color: var(--second-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
body {
  color: var(--main-font-color) !important;
}
.holding-list td {
  background-color: var(--main-bg-color) !important;
}
.holding-list th {
  color: var(--main-font-color) !important;
}
tr th {
  background-color: var(--second-bg-color) !important;
}
tr:hover {
  background-color: var(--second-bg-color) !important;
}
.tabs a[data-v-ff5b232a]:hover {
  color: var(--teal-hover-font-color) !important;
}
.tabs a[data-v-ff5b232a] {
  color: var(--main-font-color) !important;
}
.tabs a.is-active[data-v-ff5b232a] {
  color: var(--teal-font-color) !important;
}
.text-gray-700 {
  color: var(--main-font-color) !important;
}
.hover\:bg-gray-50:hover {
  background-color: transparent !important;
  color: var(--main-hover-font-color) !important;
}
.hover\:text-gray-900:hover {
  background-color: var(--second-hover-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
.text-gray-800 {
  color: var(--main-font-color) !important;
}
strong[data-v-2dee9094] {
  color: var(--main-font-color) !important;
}
.bg-gray-50 {
  background-color: var(--second-hover-bg-color) !important;
}
.divide-cool-gray-800 > :not([hidden]) ~ :not([hidden]) {
  border-color: var(--main-active-bg-color) !important;
}
.button.is-text[data-v-44d7e04c] {
  color: var(--main-font-color);
}
.button.is-primary[data-v-44d7e04c] {
  color: var(--main-hover-font-color) !important;
}
.button.is-text[data-v-44d7e04c]:hover {
  background-color: var(--second-hover-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
.activity .feed-list .list-item[data-v-44d7e04c]:not(.is-type-split):hover {
  background-color: var(--second-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
.text-gray-500 {
  color: var(--main-font-color) !important;
}
/* new activity popup ("Aktivit채t hinzuf체gen") */
.text-gray-600 {
  color: var(--main-font-color) !important;
}
.bg-cool-gray-100 {
  background-color: var(--second-bg-color) !important;
}
.md\:bg-white {
  background-color: var(--main-bg-color) !important;
}
[type='text'], [type='email'], [type='url'], [type='number'], [type='date'], [type='month'], [type='search'], [type='time'], [type='week'], [multiple], textarea, select {
  background-color: var(--main-transparent-bg-color) !important;
  color: var(--main-font-color) !important;
}
.button[data-v-e88305f6] {
  background-color: var(--second-bg-color) !important;
  color: var(--main-font-color) !important;
}
input[disabled][data-v-33219292] {
  background-color: var(--second-bg-color) !important;
}
.hover\:bg-teal-700:hover {
  background-color: var(--teal-hover-font-color) !important;
  color: var(--main-hover-font-color) !important;
}
.button.is-primary {
  background-color: var(--teal-font-color) !important;
  border-color: transparent !important;
  color: var(--main-hover-font-color) !important;
}
.button.is-primary:hover {
  background-color: var(--teal-hover-font-color) !important;
  border-color: transparent !important;
  color: var(--main-hover-font-color) !important;
}
.bg-red-50 {
  background-color: var(--main-bg-color) !important;
  border-color: var(--red-font-color) !important;
  color: var(--main-font-color) !important;
}
.hover\:bg-red-100:hover {
  background-color: var(--main-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
.text-gray-900 {
  color: var(--main-font-color) !important;
}
.hover\:text-gray-600:hover {
  color: var(--main-hover-font-color) !important;
}

/*
 * Analyse
 * https://app.parqet.com/p/./analytics
 */
.hover\:bg-cool-gray-100:hover {
  background-color: var(--second-bg-color) !important;
}
.bg-cool-gray-50 {
  background-color: var(--second-bg-color) !important;
  color: var(--main-font-color) !important;
}
.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  border-color: var(--second-bg-color) !important;
}
.even\:bg-gray-50:nth-child(even) {
  background-color: var(--main-bg-color) !important;
}
td[data-v-344bc85c] {
  color: var(--main-hover-font-color) !important;
}
.hover\:text-teal-900:hover {
  color: var(--teal-hover-font-color) !important;
}
.tab[data-v-4e9c5fd6] {
  background-color: var(--second-bg-color) !important;
}
td[data-v-344bc85c] {
  background-color: var(--main-bg-color) !important;
}
.text-gray-900[data-v-4e9c5fd6] {
  color: var(--teal-font-color) !important;
}
.text-gray-500[data-v-4e9c5fd6]:hover {
  color: var(--teal-hover-font-color) !important;
}



/* 
 * click on asset I own
 * https://app.parqet.com/p/./h/.
 */
.title {
  color: var(--main-font-color) !important;
}
.table {
  background-color: var(--main-bg-color) !important;
  color: var(--main-font-color) !important;
}
.has-background-light td {
  background-color: var(--main-bg-color) !important;
}
.button.is-static {
  background-color: var(--main-bg-color) !important;
  color: var(--main-active-bg-color) !important;
  border-color: var(--main-active-bg-color) !important;
}
.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: var(--main-bg-color) !important;
  color: var(--main-font-color) !important;
}
dt[data-v-a8026d86] {
  color: var(--main-font-color) !important;
}
dd[data-v-a8026d86] {
  color: var(--second-darker-font-color) !important;
}
td[data-v-a8026d86]:nth-child(2) {
  color: var(--second-darker-font-color) !important;
}
.text-yellow-800 {
  --tw-text-opacity: 1 !important;
  color: var(--orange-font-color) !important;
}
.bg-yellow-100 {
  background-color: var(--second-bg-color) !important;
}
dd[data-v-a8026d86] {
  color: var(--second-darker-font-color);
}



/*
 * click on asset in searchbar I don't own
 * https://app.parqet.com/s/.
 */
.mt-6 {
  margin-top: 0px !important;
}
.text-cool-gray-600 {
  color: var(--main-font-color) !important;
}



/* 
 * Aktivit채ten 
 * https://app.parqet.com/p/./activities
 */
.table.is-striped tbody tr[data-v-ebf6c5a8]:not(.is-selected):nth-child(2n) {
  background-color: var(--main-bg-color) !important;
  color: var(--main-font-color) !important;
}
.table thead td, .table thead th {
  color: var(--main-font-color) !important;
}
.tabs li.is-active a[data-v-222c32e0] {
  color: var(--main-font-color) !important;
}
.tabs a[data-v-222c32e0]:hover {
  background-color: var(--second-hover-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
.button.is-light {
  background-color: var(--main-active-bg-color) !important;
  color: var(--main-font-color) !important;
}
/* when click on holding bearbeiten button */
.modal-card-foot, .modal-card-head {
  background-color: var(--main-bg-color) !important;
}
.modal-card-body {
  background-color: var(--main-bg-color) !important;
}
.modal-card-title {
  color: var(--main-font-color) !important;
}
.label {
  color: var(--main-font-color) !important;
}
.button {
  background-color: var(--main-bg-color) !important;
  color: var(--main-font-color) !important; 
}
.button:hover {
  color: var(--main-hover-font-color) !important; 
}
a[data-v-6abe1104]{
  color: var(--blue-link-font-color);
}
a[data-v-6abe1104]:hover {
  color: var(--blue-link-hover-font-color);
}
.text-cool-gray-500 {
  color: var(--main-font-color) !important;
}
.text-gray-400 {
  color: var(--main-font-color) !important;
}
.bg-sky-100 {
  background-color: var(--second-bg-color) !important;
}
.text-sky-800 {
  color: var(--blue-font-color) !important;
}
.text-green-800 {
  color: var(--green-font-color) !important;
}
.bg-green-100 {
  background-color: var(--second-bg-color) !important;
}
.text-orange-800 {
  color: var(--red-font-color) !important;
}
.bg-orange-100 {
  background-color: var(--second-bg-color) !important;
}
.pb-8 {
  background-color: var(--main-bg-color) !important;
}
.bg-gray-100 {
  background-color: var(--second-bg-color) !important;
}
.line-action-button {
  background-color: var(--second-bg-color) !important;
  color: var(--main-font-color) !important;
}
.dropdown-action {
  color: var(--main-font-color);
}
.dropdown-action:hover {
  background-color: var(--second-hover-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
input[type=checkbox] {
  background-color: var(--second-bg-color) !important;
}
/* click on a stock */
.tabs a[data-v-33b2992e] {
  color: var(--main-font-color) !important;
}
.tabs a[data-v-33b2992e]:hover {
  color: var(--teal-hover-font-color) !important;
}
.tabs a.is-active[data-v-33b2992e] {
  color: var(--teal-font-color) !important;
}
option {
  background-color: var(--main-bg-color) !important;
  color: var(--main-font-color) !important;
}



/*
 * Dividenden
 * https://app.parqet.com/p/./dividends
 */
.performance[data-v-59983754] {
  color: var(--main-font-color) !important;
}
.amount-title[data-v-59983754] {
  color: var(--main-font-color) !important;
}
.tabs li.is-active a[data-v-59983754] {
  color: var(--main-font-color) !important;
}
.tabs a[data-v-59983754]:hover {
  background-color: var(--second-hover-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
.table.is-hoverable.is-striped tbody tr[data-v-ebf6c5a8]:not(.is-selected):hover, .table.is-hoverable tbody tr[data-v-ebf6c5a8]:not(.is-selected):hover {
  background-color: var(--second-bg-color) !important;
  color: var(--main-hover-font-color) !important;
}
.box[data-v-59983754] {
  background-color: var(--second-bg-color) !important;
}
.has-text-grey[data-v-59983754] {
  color: var(--main-font-color) !important;
}
.subtitle[data-v-59983754] {
  color: var(--second-darker-font-color) !important;
}
.info-tooltip .tooltip-content {
  background-color: var(--second-bg-color) !important;
}
.arrow-top[data-v-72c16a8d] {
  border-top: 10px solid var(--second-bg-color) !important;
}


/*
 * M채rkte
 * https://app.parqet.com/markets?compare=.
 */
.group:hover .group-hover\:text-cool-gray-900 {
  color: var(--main-hover-font-color) !important;
}
/* Beliebte Watchlists */
li a[data-v-0d831b02] {
  color: var(--main-font-color) !important;
}
li a[data-v-0d831b02]:hover {
  color: var(--main-hover-font-color) !important;
  background-color: var(--second-bg-color) !important;
}



/*
 * Watchlists
 * https://app.parqet.com/watchlists
 */
 ::placeholder {
   color: var(--main-font-color) !important;
 }
 .bg-red-100 {
  background-color: var(--second-bg-color) !important;
 }
 .text-red-800 {
  color: var(--red-font-color) !important
 }
 .dropdown-action[data-v-4efc6f4e] {
  color: var(--main-font-color) !important;
}
.button.button-neutral {
  background-color: var(--main-bg-color) !important;
  color: var(--main-font-color) !important;
}
.button.button-positive-filled {
  color: var(--main-hover-font-color) !important;
}
.prose {
  color: var(--main-font-color) !important;
}