/*
 * additional CSS if
 * light charts is activated
 * author: Nils Wenzel
 * last update: 2021-12-22
 */

@import url(darkmode.css);

/* colors */
:root {
  --main-light-bg-color: #f1f1f1;
  --main-light-font-color: #181818;
}


/* dashboard*/
.bg-white.shadow.rounded-lg.flex-grow[data-v-5d744734]:nth-of-type(1) { /* Wert-Enwicklung, Dividenden, Performance charts */
  background-color: var(--main-light-bg-color) !important;
  border-top-right-radius: 0.6em !important;
  border-top-left-radius: 0.6em !important;
  border-bottom-right-radius: 0.6em !important;
  border-bottom-left-radius: 0.6em !important;
}
.bg-white.shadow.rounded-lg.flex-grow.hidden {
  background-color: var(--main-light-bg-color) !important;
  border-top-right-radius: 0.6em !important;
  border-top-left-radius: 0.6em !important;
  border-bottom-right-radius: 0.6em !important;
  border-bottom-left-radius: 0.6em !important;
}
.bg-white.shadow.rounded-lg.flex-grow[data-v-5d744734]:nth-of-type(1) div[data-v-5d744734] {  /* Dividenden-chart bottom text */
  color: var(--main-light-font-color) !important;
}
.bg-white.shadow.rounded-lg.flex-grow[data-v-5d744734]:nth-of-type(1) label[data-v-37e6609c] { /* Performance-chart upper text */
  color: var(--main-light-font-color) !important;
}
.bg-white.shadow.rounded-lg.flex-grow[data-v-5d744734]:nth-of-type(1) label[data-v-cc4aabda] { /* Wert-Entwicklung-chart upper text */
  color: var(--main-light-font-color) !important;
}
.bg-white.shadow.rounded-lg.flex-grow.hidden label[data-v-37e6609c] { /* Performance-chart upper text when Performance is in a single chart */
  color: var(--main-light-font-color) !important;
}



/* click on stock I own */
.relative[data-v-1b557d32]:nth-of-type(2) {
  background-color: var(--main-light-bg-color) !important;
  border-top-right-radius: 0.6em !important;
  border-top-left-radius: 0.6em !important;
  border-bottom-right-radius: 0.6em !important;
  border-bottom-left-radius: 0.6em !important;
}
ul[data-v-2b73544e][data-v-1b557d32] {
  background-color: var(--main-bg-color) !important;
}

/* click on stock I don't own*/
.bg-white.rounded-lg.shadow[data-v-1b557d32]:nth-of-type(1) {
  background-color: var(--main-light-bg-color) !important;
  border-top-right-radius: 0.6em !important;
  border-top-left-radius: 0.6em !important;
  border-bottom-right-radius: 0.6em !important;
  border-bottom-left-radius: 0.6em !important;
}
.bg-white.rounded-lg.shadow[data-v-1b557d32]:nth-of-type(1) span[data-v-771ea0bc] { /* Wert-Entwicklung, Kurs upper text of value  */
  color: var(--main-light-font-color) !important;
}
.bg-white.rounded-lg.shadow[data-v-1b557d32]:nth-of-type(1) div[data-v-1b557d32] {
  color: var(--main-light-font-color) !important;
}
.bg-white.rounded-lg.shadow[data-v-1b557d32]:nth-of-type(1) label[data-v-8af4afee] {
  color: var(--main-light-font-color) !important;
}
.bg-white.rounded-lg.shadow[data-v-1b557d32]:nth-of-type(1) select[data-v-8af4afee] {
  color: var(--main-light-font-color) !important;
  border-color: var(--main-light-font-color) !important;
}