/*
 * CSS that is injected
 * for darkmode
 * author: Nils Wenzel
 */

/* colors */
:root {
    --main-bg-color: #181818;
    --second-bg-color: #282828;
    --main-font-color: #ccc;
    --second-darker-font-color: #a3a3a3;
    --second-darkest-font-color: #858585;
    --main-hover-font-color: #fff;
    --main-hover-bg-color: #787878;
    --second-hover-bg-color: #5a5a5a;
    --main-active-bg-color: #575757;
    --teal-font-color: #009991;
    --teal-hover-font-color: #00afa6;
    --red-font-color: #f05252;
    --orange-font-color: #e9c912;
    --blue-font-color: #0978bd;
    --green-font-color: #0e9f6f;
    --blue-link-font-color: #758eff;
    --blue-link-hover-font-color: #a0b1fa;
    --main-transparent-bg-color: #18181800;
    --main-light-bg-color: #f1f1f1;
    --main-light-font-color: #181818;
}

/*
 * general styles
 */

/* elements */
body {
    color: var(--main-font-color) !important;
}

main {
    background-color: var(--main-bg-color) !important;
}

p {
    color: var(--main-font-color) !important;
}

nav a {
    /* navbar */
    color: var(--main-font-color) !important;
}

strong {
    color: var(--main-font-color) !important;
}

table td {
    color: var(--main-font-color) !important;
}

tr:hover {
    background-color: var(--second-bg-color) !important;
}

tr th {
    background-color: var(--second-bg-color) !important;
    color: var(--main-font-color) !important;
}

td {
    background-color: var(--main-bg-color) !important;
}

option {
    background-color: var(--main-bg-color) !important;
    color: var(--main-font-color) !important;
}

dt {
    color: var(--main-font-color) !important;
}

dd {
    color: var(--second-darker-font-color) !important;
}

select {
    background-color: var(--main-transparent-bg-color) !important;
    color: var(--main-font-color) !important;
}

input {
    background-color: var(--main-transparent-bg-color) !important;
    color: var(--main-font-color) !important;
}

::placeholder {
    color: var(--main-font-color) !important;
}

/* classes */
.text-gray-400 {
    color: var(--second-darker-font-color) !important;
}

.text-gray-500 {
    color: var(--main-font-color) !important;
}

.text-gray-600 {
    color: var(--main-font-color) !important;
}

.hover\:text-gray-600:hover {
    color: var(--main-hover-font-color) !important;
}

.text-gray-700 {
    color: var(--main-font-color) !important;
}

.text-gray-800 {
    color: var(--main-font-color) !important;
}

.text-gray-900 {
    color: var(--second-darker-font-color) !important;
}

.text-gray-900::placeholder {
    color: var(--second-darker-font-color) !important;
}

.text-gray-900:focus::placeholder {
    color: var(--main-font-color) !important;
}

.text-yellow-800 {
    --tw-text-opacity: 1 !important;
    color: var(--orange-font-color) !important;
}

.text-sky-800 {
    color: var(--blue-font-color) !important;
}

.text-green-800 {
    color: var(--green-font-color) !important;
}

.text-orange-800 {
    color: var(--red-font-color) !important;
}

.text-red-800 {
    color: var(--red-font-color) !important;
}

.header-row {
    /* Steuern, Gebuehren */
    color: var(--main-font-color) !important;
}

.hover\:text-teal-900:hover {
    color: var(--teal-hover-font-color) !important;
}

.bg-white {
    background-color: var(--main-bg-color) !important;
}

.md\:bg-white {
    background-color: var(--main-bg-color) !important;
}

.bg-gray-50 {
    background-color: var(--second-bg-color) !important;
    color: var(--main-font-color) !important;
}

.hover\:bg-gray-50:hover {
    background-color: transparent !important;
    color: var(--main-hover-font-color) !important;
}

.lg\:hover\:bg-gray-50:hover {
    background-color: var(--second-hover-bg-color) !important;
    color: var(--main-hover-font-color) !important;
}

.bg-gray-100 {
    background-color: var(--second-bg-color) !important;
}

.hover\:bg-gray-100:hover {
    background-color: var(--second-bg-color) !important;
    color: var(--main-hover-font-color) !important;
}

.bg-gray-200 {
    background-color: var(--second-bg-color) !important;
}

.hover\:bg-gray-600:hover {
    background-color: var(--main-hover-bg-color) !important;
}

.bg-gray-700 {
    background-color: var(--second-bg-color) !important;
}

.hover\:bg-gray-800:hover {
    background-color: var(--main-hover-bg-color) !important;
}

.bg-sky-100 {
    background-color: var(--second-bg-color) !important;
}

.bg-green-100 {
    background-color: var(--second-bg-color) !important;
}

.bg-orange-100 {
    background-color: var(--second-bg-color) !important;
}

.bg-teal-50 {
    background-color: var(--main-bg-color) !important;
}

.hover\:bg-teal-700:hover {
    background-color: var(--teal-hover-font-color) !important;
    color: var(--main-hover-font-color) !important;
}

.bg-red-50 {
    background-color: var(--main-bg-color) !important;
    border-color: var(--red-font-color) !important;
    color: var(--main-font-color) !important;
}

.bg-red-100 {
    background-color: var(--second-bg-color) !important;
}

.hover\:bg-red-100:hover {
    background-color: var(--main-bg-color) !important;
    color: var(--main-hover-font-color) !important;
}

.bg-yellow-100 {
    background-color: var(--second-bg-color) !important;
}

.has-text-grey {
    /* Powered by DivvyDiary text */
    color: var(--main-font-color) !important;
}

.has-background-light {
    background-color: var(--main-bg-color) !important;
}

.title {
    color: var(--main-font-color) !important;
}

.subtitle {
    /* Kommende Dividenden, Erhaltende Dividenden text */
    color: var(--main-font-color) !important;
}

.amount-title {
    /* text Portfolio Wert, Investiert, Aussch체ttung, Persoenlich Rendite */
    color: var(--main-font-color) !important;
}

.label {
    color: var(--main-font-color) !important;
}

.table {
    background-color: var(--main-bg-color) !important;
    color: var(--main-font-color) !important;
}

.prose {
    color: var(--main-font-color) !important;
}

.box {
    background-color: var(--second-bg-color) !important;
}

.chart-container {
    background-color: var(--main-light-bg-color) !important;
    border-top-right-radius: 0em !important;
    border-top-left-radius: 0em !important;
    border-bottom-right-radius: 0.6em !important;
    border-bottom-left-radius: 0.6em !important;
}

.modern-tooltip {
    /* tooltip in charts */
    background-color: var(--second-bg-color) !important;
}

.tooltip-content {
    background-color: var(--second-bg-color) !important;
}

.link-text {
    color: var(--main-font-color) !important;
}

.empty-logo {
    background-color: var(--main-active-bg-color) !important;
}

.copy {
    background-color: var(--main-active-bg-color) !important;
}

.arrow-top {
    /* little arrow under tooltip of Kommende Dividenden, Erhaltende Dividenden */
    border-top: 10px solid var(--second-bg-color) !important;
}

.page-header {
    background-color: var(--main-bg-color) !important;
}

.performance {
    /* text of value under Portfolio Wert, Investiert, Aussch체ttung, Persoenlich Rendite */
    color: var(--main-font-color) !important;
}

.mt-6 {
    margin-top: 0px !important;
}

.pb-8 {
    background-color: var(--main-bg-color) !important;
}

.button {
    background-color: var(--main-bg-color) !important;
    color: var(--main-font-color) !important;
}

.button:hover {
    color: var(--main-hover-font-color) !important;
}

.line-action-button {
    background-color: var(--second-bg-color) !important;
    color: var(--main-font-color) !important;
}

.is-static {
    background-color: var(--main-bg-color) !important;
    color: var(--main-active-bg-color) !important;
    border-color: var(--main-active-bg-color) !important;
}

.is-primary {
    background-color: var(--teal-font-color) !important;
    border-color: transparent !important;
    color: var(--main-hover-font-color) !important;
}

.is-primary:hover {
    background-color: var(--teal-hover-font-color) !important;
    border-color: transparent !important;
    color: var(--main-hover-font-color) !important;
}

.is-button {
    background-color: var(--second-bg-color) !important;
    color: var(--main-font-color) !important;
    border: none !important;
}

.is-teal {
    background-color: var(--teal-font-color) !important;
    border-color: transparent !important;
    color: var(--main-hover-font-color) !important;
}

.button-neutral {
    background-color: var(--main-bg-color) !important;
    color: var(--main-font-color) !important;
}

.button-positive-filled {
    color: var(--main-hover-font-color) !important;
}

.is-light {
    background-color: var(--main-active-bg-color) !important;
    color: var(--main-font-color) !important;
}

.dropdown-action {
    color: var(--main-font-color) !important;
}

.dropdown-action:hover {
    background-color: var(--second-hover-bg-color) !important;
    color: var(--main-hover-font-color) !important;
}

.dropdown-trigger-button {
    background-color: var(--second-bg-color) !important;
    color: var(--main-font-color) !important;
    border: none !important;
}

.input-label {
    /* Performance-chart and Wert-Entwicklung-chart upper text */
    color: var(--main-light-font-color) !important;
}

.modal-card-foot,
.modal-card-head,
.modal-card-body {
    background-color: var(--main-bg-color) !important;
}

.modal-card-title {
    color: var(--main-font-color) !important;
}

.activities-list-monthly {
    /* monthly activities table */
    background-color: var(--main-bg-color) !important;
}

.content-tax-and-fee {
    color: var(--second-darker-font-color) !important;
}

.table-value p {
    color: var(--main-font-color);
}

.table-label p {
    color: var(--main-font-color);
}

/*
 * sidebar
 */

nav[aria-label="Sidebar"] .nuxt-link-exact-active {
    /* active button */
    background-color: var(--main-active-bg-color) !important;
}

/*
 * searchbar
 */

.focus-within\:text-gray-600:focus-within {
    color: var(--main-font-color) !important;
}

/*
 * dashboard
 * https://app.parqet.com/p/*
 */

dd.text-2xl.font-semibold:not(.text-green-500) {
    /* text of value under Investiert, Realisiert */
    color: var(--main-font-color) !important;
}

table.w-full.text-sm td:nth-child(2) {
    /* text in Rendite-table of the middle column */
    color: var(--second-darker-font-color) !important;
}

table.w-full.text-sm thead tr th {
    /* first row (thead) in Rendite table */
    background-color: var(--main-bg-color) !important;
}

nav.tabs a {
    /* Wert-Enwicklung, Dividenden, Performance buttons */
    color: var(--main-font-color) !important;
}

nav.tabs a:hover {
    /* Wert-Enwicklung, Dividenden, Performance buttons */
    color: var(--teal-hover-font-color) !important;
    background-color: var(--main-transparent-bg-color) !important;
}

nav.tabs a.is-active {
    /* Wert-Enwicklung, Dividenden, Performance buttons */
    color: var(--teal-font-color) !important;
}

button.border.rounded-full.shadow.overflow-hidden.w-8.h-8.flex.flex-shrink-0.items-center.justify-center {
    /* magnitude icon in performance chart when comparing performances and when performance chart is small */
    color: var(--main-bg-color) !important;
}

div.relative > div.bg-white.absolute.inset-0.opacity-25.z-20 {
    /* compare div in performance chart for non parqet+ users */
    opacity: 0 !important;
}

.hover\:text-gray-900:hover {
    background-color: var(--second-hover-bg-color) !important;
    color: var(--main-hover-font-color) !important;
}

.divide-gray-800 > :not([hidden]) ~ :not([hidden]) {
    border-color: var(--main-active-bg-color) !important;
}

/*
 * Analyse
 * https://app.parqet.com/p/./analytics
 */

.hover\:bg-gray-100:hover {
    background-color: var(--second-bg-color) !important;
}

.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
    border-color: var(--second-bg-color) !important;
}

.even\:bg-gray-50:nth-child(even) {
    background-color: var(--main-bg-color) !important;
}

.px-2.text-center.py-2.whitespace-nowrap.text-xs.text-gray-500 {
    /* Kapitalfluss-table rows and columns */
    color: var(--main-hover-font-color) !important;
    background-color: var(--main-bg-color) !important;
}

nav.relative.z-0.rounded-lg.shadow.flex.divide-x.divide-gray-200.allocation-tabs
    .tab {
    /* Weitere Allocations buttons: Assetklasse, Sektor, Branche, Region, Land, Typ */
    background-color: var(--second-bg-color) !important;
}

nav.relative.z-0.rounded-lg.shadow.flex.divide-x.divide-gray-200.allocation-tabs
    .tab:hover {
    /* Weitere Allocations buttons: Assetklasse, Sektor, Branche, Region, Land, Typ */
    color: var(--teal-hover-font-color) !important;
}

/*
 * click on asset I own
 * https://app.parqet.com/p/./h/.
 */

.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
    background-color: var(--main-bg-color) !important;
    color: var(--main-font-color) !important;
}

/*
 * Aktivit채ten
 * https://app.parqet.com/p/./activities
 */

.table thead td,
.table thead th {
    color: var(--main-font-color) !important;
}

/* edit button */
#activities-list button,
.line-action {
    background-color: var(--second-bg-color);
    color: var(--main-font-color);
}

.line-action-wrapper .line-action-button-group .line-action {
    background-color: var(--second-bg-color) !important;
    color: var(--main-font-color);
}

.content-type-and-date .hidden {
    color: var(--second-darker-font-color) !important;
    /* date text in left column */
}

header.yearly-group-header.pl-0 {
    /* text of year */
    color: var(--main-font-color) !important;
}

/*
 * M채rkte
 * https://app.parqet.com/markets?compare=.
 */

.group:hover .group-hover\:text-gray-900 {
    color: var(--main-hover-font-color) !important;
}

li a.block.rounded-lg:hover {
    /* Beliebte Watchlists */
    color: var(--main-hover-font-color) !important;
    background-color: var(--second-bg-color) !important;
}

/*
 * charts and graphs
 */

.bg-white.rounded-lg.shadow:has(.chart-container) {
    background-color: var(--main-light-bg-color) !important;
    color: var(--main-light-font-color) !important;
    border-top-right-radius: 0.6em !important;
    border-top-left-radius: 0.6em !important;
    border-bottom-right-radius: 0.6em !important;
    border-bottom-left-radius: 0.6em !important;
}

.bg-white.rounded-lg.shadow:has(.chart-container) .bg-white {
    background-color: transparent !important;
}

.bg-white.rounded-lg.shadow:has(.chart-container) .bg-white p,
.bg-white.rounded-lg.shadow:has(.chart-container) .bg-white a,
.bg-white.rounded-lg.shadow:has(.chart-container) .bg-white span {
    color: var(--main-light-font-color) !important;
}

.bg-white.rounded-lg.shadow:has(.chart-container) .bg-white.opacity-50,
.chart-wrapper .bg-white.opacity-50 {
    background-color: transparent !important;
}

.tag:not(body) {
    color: var(--main-font-color) !important;
    background-color: transparent !important;
}

/* click on stock I own */

nav .is-active {
    /* navbar active */
    color: var(--teal-font-color) !important;
}

.chart-box nav button {
    /* navbar in chart  */
    color: var(--main-font-color) !important;
}

.chart-box nav button.is-active {
    /* navbar in chart (active) */
    color: var(--teal-font-color) !important;
}

.chart-box [role="heading"] .text-gray-700 {
    color: var(--main-light-font-color) !important;
}

.chart-box .text-red-500 {
    color: var(--red-font-color) !important;
}

.chart-box .text-green-500 {
    color: var(--green-font-color) !important;
}

.chart-wrapper .text-gray-500,
.chart-wrapper figcaption,
.chart-wrapper select {
    color: var(--main-light-font-color) !important;
}

div.md\:col-span-2.flex.flex-col.gap-y-12
    > div:nth-child(n + 2)
    > div.bg-white.rounded-lg.shadow {
    /* "Historische Dividenden", "Unternehmenszahlen" chart */
    background-color: var(--main-light-bg-color) !important;
}

div.sm\:max-h-0.grid.grid-cols-1.lg\:col-span-2.gap-y-10.sm\:gap-x-5
    > div:nth-child(2)
    > div
    > div
    > div.px-5.pb-5.text-xs.text-right {
    /* text "Umfassendere Auswertungen sind auf dem Dividenden Dashboard zu finden" in "Historische Dividenden" chart */
    color: var(--main-light-font-color) !important;
}

/* Analyse */

main
    > div.space-y-10
    > div:nth-child(1)
    > div.bg-white.shadow.rounded-lg.relative
    > div.relative.p-5 {
    background-color: var(--main-light-bg-color) !important;
}
